<h1>Worked!</h1>

{{#each people_data}}
  <h4>Name: {{this.name}}</h4>
  <p>Favorite Fruit: {{this.fruit}}</p>
  <!-- <h3>{{title}}</h3>
  <p>{{body}}</p>
  <p>{{id}}</p> -->
{{/each}}

<h1>Notes</h1>

{{#each notes}}
  <h3>Title: {{title}}</h3>
  <p>Body: {{body}}</p>
{{/each}}